/*--------
RESET
--------*/
*{
	margin:0;
	padding:0;
}
img{
	border: none;
}
input{
	
	border: none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option{
	outline: 0;
	border: 0;
}
a{
    text-decoration: none;
}


/*--------
HTML5
--------*/
header, article, nav, footer, section{
   display: block;
}


/*--------
GENERAL
--------*/
body{
	background: #F7F7F7;
	text-align: center;
}


/*--------
STYLE ALL EFFECTS
--------*/
.item-1, 
.item-2, 
.item-3,
.item-4,
.item-5, 
.item-6, 
.item-7, 
.item-8,
.item-9{
	margin:50px 30px;
	display: inline-block;
	width:460px;
	position: relative;
	border:5px solid #DDD;
	overflow: hidden;
	font-family: 'PT Sans', sans-serif;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-1:hover, 
.item-2:hover, 
.item-3:hover, 
.item-4:hover, 
.item-5:hover, 
.item-6:hover, 
.item-7:hover,
.item-8:hover,
.item-9:hover{
	border-color:#50B4DF;
	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease
}


/*--------
1 EFFECT
--------*/
.item-1 .overlay{
	background: #000;
	width:100%;
	height:100%;
	position: absolute;
}
.item-1 .zoom{
	position: absolute;
	top:0;
	left:43%;
	background: url(../img/zoom.png) no-repeat;
	display:block;
	width:64px;
	height:83px;
}
.item-1 .title{
	position: absolute;
	background: #50B4DF;
	left:0;
	width: 100%;
	padding: 10px 0px;
	bottom: -50px;
	text-align: center;
}
.item-1 .title a{
	color: #FFF;
	font-size:20px;
	font-weight: bold;
	text-decoration: none;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-1 .title a:hover{
	color:#353535;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}


/*--------
2 EFFECT
--------*/
.item-2 .overlay-top {
	background: #000;
	width: 100%;
	height:0;
	position: absolute;
	top:0;
}
.item-2 .overlay-bottom{
	background: #000;
	width: 100%;
	height:0;
	position: absolute;
	bottom:0;
}
.item-2 .read{
	position: absolute;
	border-bottom: 3px solid rgb(33, 149, 194);
	top: 44.5%;
	left: 27%;
	background: #50B4DF;
	text-decoration: none;
	padding: 10px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-2 .read:hover{
	background: #353535;
	border-bottom: 3px solid #272727;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}


/*--------
3 EFFECT
--------*/
.item-3 .overlay-top-all{
	background: #000;
	width: 100%;
	height:0;
	position: absolute;
	top:0;
}
.item-3 .title{
	position: absolute;
	left:-100%;
	top:45%;
	text-align: center;
	width: 100%;
}
.item-3 .title a{
	background: #50B4DF;
	border-bottom: 3px solid rgb(33, 149, 194);
	text-decoration: none;
	padding: 10px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-3 .title a:hover{
	color:#353535;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}


/*--------
4 EFFECT
--------*/
.item-4 > div{
	background: #000;
	width: 0%;
	height:0%;
	position: absolute;
	right:0;
}
.item-4 .overlay-sq-big-1,
.item-4 .overlay-sq-big-2{
	top:0;
}
.item-4 .overlay-sq-big-2{
	left:0;
}
.item-4 .overlay-sq-big-3,
.item-4 .overlay-sq-big-4{
	bottom:0;
}
.item-4 .overlay-sq-big-4{
	left:0;
}
.item-4 .read{
	position: absolute;
	top:-40px;
	text-align: center;
	width: 100%;
}
.item-4 .read a{
	background: #50B4DF;
	border-bottom: 3px solid rgb(33, 149, 194);
	text-decoration: none;
	padding: 10px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-4 .read a:hover{
	color:#353535;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}


/*--------
5 EFFECT
--------*/
.item-5 .overlay-square, 
.item-5 .overlay-square-2{
	background: #000;
	width: 0%;
	height:0%;
	position: absolute;
	top:50%;
	left:50%;
}
.item-5 .zoom{
	position: absolute;
	top:41%;
	left:43%;
	background: url(../img/zoom-2.png) no-repeat;
	display:block !important;
	width:64px;
	height:66px;
}
.item-5 .zoom:hover{
	background-position: 0 -68px;
}


/*--------
6 EFFECT
--------*/
.item-6 .mini-box > div{
	width:33.4%;
	height:33.4%;
	position: absolute;
	background: #000;
}
.item-6 .mini-square-1{
	top:0;
	left:0;
}
.item-6 .mini-square-2{
	top:0;
	left:33.3%;
}
.item-6 .mini-square-3{
	top:0;
	left:66.7%;
}
.item-6 .mini-square-4{
	top:33.3%;
	left:0;
}
.item-6 .mini-square-5{
	top:33.3%;
	left:33.3%;
}
.item-6 .mini-square-6{
	top:33.3%;
	left:66.7%;
}
.item-6 .mini-square-7{
	top:66.7%;
	left:0;
}
.item-6 .mini-square-8{
	top: 66.7%;
	left: 33.3%;
}
.item-6 .mini-square-9{
	top: 66.7%;
	left: 66.7%;
}
.item-6 span.box-arrow{
	position: absolute;
	display: block;
	border-bottom: 3px solid rgb(33, 149, 194);
	top: 44%;
	left:-100%;
	width: 47%;
	text-align: left;
	background: #50B4DF !important;
}
.item-6 .box-arrow .arrow{
	display: block;
	height: 30px;
	background: url(../img/arrow.png) 150px -3px no-repeat;
	line-height: 32px;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 25px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
}
.item-6 .box-arrow .arrow:hover{
	background-position: 150px -35px;
	color:#353535;
}


/*--------
7 EFFECT
--------*/
.item-7 .mini-box-line > div{
	width: 25%;
	height: 0%;
	position: absolute;
	background: #000;
}
.item-7 .mini-line-1{
	top:0;
	left:0;
}
.item-7 .mini-line-2{
	top:0;
	left:25%;
}
.item-7 .mini-line-3{
	top:0;
	left:50%;
}
.item-7 .mini-line-4{
	top:0;
	left:75%;
}
.item-7 .vertical-line{
	display: block;
	width: 10px;
	height: 0;
	background: rgb(43, 154, 189);
	border-left: 2px solid rgb(39, 137, 192);
	border-right: 1px solid rgb(39, 137, 192);
	position: absolute;
	background: #50B4DF;
	left: 50%;
}
.item-7 .read{
	position: absolute;
	top:-100px;
	left:0;
	text-align: center;
	width: 100%;
}
.item-7 .read a{
	background: #50B4DF;
	border-bottom: 3px solid rgb(33, 149, 194);
	text-decoration: none;
	padding: 10px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-7 .read a:hover{
	color:#353535;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}


/*--------
8 EFFECT
--------*/
.item-8 .mini-box-line-2 > div{
	width:0%;
	height:25%;
	position: absolute;
	background: #000;
}
.item-8 .mini-line-left{
	top:0;
	left:0;
}
.item-8 .mini-line-left-2{
	top:50%;
	left:0;
}
.item-8 .mini-line-right{
	top:25%;
	right:0;
}
.item-8 .mini-line-right-2{
	top:75%;
	right:0;
}
.item-8 .read{
	position: absolute;
	bottom:-30px;
	left:0;
	text-align: center;
	width: 100%;
}
.item-8 .read a{
	background: #50B4DF;
	border: 2px solid rgb(243, 243, 243);
	text-decoration: none;
	padding: 9px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	-moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.item-8 .read a:hover{
	color:#353535;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-8 .title{
	position: absolute;
	top:-45px;
	width:100%;
	text-align: center;
	background: #50B4DF;
	text-decoration: none;
	padding: 10px 0;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 3px solid rgb(33, 149, 194);
}


/*--------
9 EFFECT
--------*/
.item-9 .overlay-left{
	width:0%;
	height:100%;
	position: absolute;
	background: #000;
}
.item-9 .block-desc{
	width: 100%;
	position: absolute;
	top: 25%;
	left: -100%;
	background:	#50B4DF;
	padding:10px 0;
}
.item-9 .block-desc > p{
	padding: 0 40px;
	padding: 5px 40px;
	font-size: 15px;
	color: #FFF;
}
.item-9 .block-desc .read{
	position: absolute;
	bottom:-50px;
	left:0;
	text-align: center;
	width: 100%;
}
.item-9 .block-desc .read a{
	background: #50B4DF;
	border-bottom: 3px solid rgb(33, 149, 194);
	text-decoration: none;
	padding: 7px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.item-9 .block-desc .read a:hover{
	color:#353535;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease
}
.item-9 .block-desc .title{
	background: #50B4DF;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}